TURSO_DATABASE_URL="file:database/local.db"
TURSO_AUTH_TOKEN="placeholder for local db"
FILE_STORAGE_PATH="C:/Users/georg/Source/schoubl-stack"

# AUTH_ORIGIN="http://localhost:3000"
# AUTH_SECRET=""
# AUTH_GITHUB_CLIENT_ID=""
# AUTH_GITHUB_CLIENT_SECRET=""
# AUTH_GOOGLE_CLIENT_ID=""
# AUTH_GOOGLE_CLIENT_SECRET=""